<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Apache HTTP 디버그 로그 추가 -->
    <logger name="org.apache.http" level="DEBUG"/>

    <!-- WARN 레벨 이상의 로그(주의, 에러 등) 출력 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
